@model OpmPatientsSite.Models.Patient.PatientModel


<div class="row">
<div class="col-lg-12">
    <h1 class="page-header">@Model.Name</h1>
</div>
<!-- /.col-lg-12 -->

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Informacion del Paciente
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover" style="margin-bottom: 0">
                            <tbody>
                            <tr>
                                <td>@Html.LabelFor(model => model.Name)</td>
                                <td>@Model.Name</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Age)</td>
                                <td>@Model.Age</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Address)</td>
                                <td>@Model.Address</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Email)</td>
                                <td>@Model.Email</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.PhoneNumber)</td>
                                <td>@Model.PhoneNumber</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Occupation)</td>
                                <td>@Model.Occupation</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
    
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Registros de Expediente
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Doctor</th>
                        <th>Sucursal</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX">
                            <td>Griffin</td>
                            <td>Internet Explorer 4.0</td>
                            <td>Win 95+</td>
                            <td class="center">4</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Trident</td>
                            <td>Internet Explorer 4.0</td>
                            <td>Win 95+</td>
                            <td class="center">4</td>
                        </tr>
                    </tbody>
                </table>
            <!-- /.table-responsive -->
            </div>
        <!-- /.panel-body -->
        </div>
    <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
</div>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->